@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital&display=swap');

.hero {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.hero-body {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	top: 0;
	background-image: url('/components/images/tienda-entrada.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: rgba(57, 47, 57, 0.326);
	z-index: -1;
}
.anuncio {
	z-index: 1;
	min-height: 100vh;
	/* margin-top: 15px; */
}

.chizone-title {
	font-family: 'Bitter', serif;
	font-weight: 300;
	font-style: italic;
	text-shadow: 1px 1px 2px rgba(244, 206, 196, 0.612);
	font-size: 10vw;
	color: #8c8887;
}
.fb-page {
	position: absolute;
	bottom: 55px;
}
@media (max-width: 640px) {
	.chizone-title {
		font-size: 20vw;
	}
}
